name: Ontivi IPTV Auto Update


on:
workflow_dispatch:
schedule:
- cron: "0 */6 * * *"


jobs:
build:
runs-on: ubuntu-latest


steps:
- uses: actions/checkout@v4
- uses: actions/setup-node@v4
with:
node-version: 20
- run: npm install
- run: node scripts/build.js
- name: Commit & push
run: |
if git diff --quiet; then
echo "No changes"
else
git config user.name "iptv-bot"
git config user.email "bot@github"
git add playlists/ip.ontivi.net_playlist.m3u8 scripts/streams_cache.json scripts/stats.json
git commit -m "Auto update Ontivi IPTV playlist"
git push
fi
