name: Ontivi IPTV Auto Update

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build playlist
        run: node scripts/build.js

      - name: Commit & push
        run: |
          if git diff --quiet; then
            echo "No changes"
          else
            git config user.name "iptv-bot"
            git config user.email "bot@github"
            git add playlists/ip.ontivi.net_playlist.m3u8 scripts/stats.json scripts/streams_cache.json
            git commit -m "Auto update Ontivi IPTV playlist"
            git push
          fi
