      - run: |
          if git diff --quiet; then
            echo "No changes"
          else
            git config user.name "iptv-bot"
            git config user.email "bot@github"
            git add playlists/ip.ontivi.net_playlist.m3u8
            git commit -m "Auto update Ontivi IPTV playlist"
            git push https://$GH_PAT@github.com/ainsoosaar/m3u-playlists.git HEAD:main
          fi
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
